body {
  background-color: LightSkyBlue;
}

.welcome-title {
  color: green;
  font-family: cursive;
  font-size: 40px;
  text-align: center;
}

.gameboard-wrapper {
  background-color: black;
  height: 800px;
  width: 100%;
}

.gameboard {
  background-color: white;
  display: inline-block;
  height: 33%;
  width: 33%;
}
