$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

* { // Selects all elements
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  background: #4E4C48;
  color: #FFF;
  margin: 0;
  min-height: 99%;
  padding: 0;
}

/* --------------- Login Page Styling --------------- */

body,
input {
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 120%;
  font-weight: 400;
}

.login-wrapper {
  margin: 2em auto 0;
  max-width: 20em;
  width: 90%;
}

.login-wrapper > h1 {
  text-align: center;
}

img {
  border-radius: 1em;
  display: block;
  margin: 0 auto 2em;
  width: 70%;
}

form {
  margin: 1em 0;
}

input {
  border: 0;
  border-radius: 0.5em;
  color: #333;
  font-size: 1em;
  margin-bottom: 1em;
  outline: none;
  padding: 0.5em;
  width: 100%;
}

#submit {
  border-radius: 1em;
}

.game-page {
  position: relative;
}
/* --------------- User Panel Styling --------------- */

nav {
  border-style: solid;
  height: 800px;
  left: 0px;
  padding: 50px;
  position: absolute;
  width: 16%;

}

/* --------------- Game Board Styling --------------- */

.welcome-title {
  color: green;
  font-family: cursive;
  font-size: 40px;
  text-align: center;
}

.gameboard-wrapper {
  background-color: #000;
  height: 800px;
  margin-left: 15%; // must be same as nav width
  min-width: 99% // look at max width
  //width: 99%;
}

.gameboard {
  background-color: #fff;
  display: inline-block;
  height: 33%;
  width: 30%;
}
